@model IEnumerable<StarbucksModels.DbModels.CustomizationSubCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomizationCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomizationCategory.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomizationSubcategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomizationSubcategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomizationSubcategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
