@model StarbucksModels.DbModels.Menu

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowVisibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowVisibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MenuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
