@model IEnumerable<StarbucksModels.DbModels.Customization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomizationSubCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomizationSubCategory.CustomizationSubcategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomizationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomizationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
