@model StarbucksModels.DbModels.CustomizationModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Sub Customization?</h3>
<div>
  
    <hr />
    <dl class="row">
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomizationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCustomizationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCustomizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customization)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCustomization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCustomization)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>*@
    </dl>
    
    <form asp-action="DeleteSubCustomization">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
